html, body {
    height: 100%
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -50px;
}

.push {
    height: 50px;
}

.footer {
    height: 50px;
    background-color: #d3d3d3;
    border-top: 3px solid #A20025;
    font-size: small;
}

.header-container {
    padding-top: 75px;
    background-color: #d3d3d3;
    border-bottom: 5px solid #A20025;
    display: inline-block;
    width: 100%;
}

.header-container h3 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
    line-height: 10px;
}

.header-container ul {
    margin: 0;
    padding: 0;
}

.header-container ul li {
    display: inline;
}

.header-container a {
    padding: 0 10px;
    color: black;
    display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header-container a:hover {
    text-decoration: none;
    background-color: #A20025;
    color: white;
}

.front-info {
    margin: 0;
    padding-top: 50px;
    text-align: center
}

.front-info-block p {
    margin: 0;
    padding: 10px;
}

.front-info-block {
    border-bottom: 2px solid #A20025;
    font-family: "Open Sans";
    font-size: large;
    font-weight: 300;
    padding-bottom: 10px;
}

.front-contact-block {
    font-family: 'Montserrat', serif;
    font-size: small;
    padding-top: 20px;
}

.footer-left {
    text-align: left;
}
.footer-mid {
    width: 100%;
    text-align: center;
}
.footer-right {
    text-align: right;
}

.page-title {
    padding-top: 25px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: large;
}

.news-post {
    padding-top: 25px;
    font-family: "Open Sans";
}

.news-title {
    font-weight: bold;
    font-size: large;
}

.news-byline {
    font-size: x-small;
    color: #c0c0c0;
    padding-bottom: 10px;
}

.news-content {
    font-size: small;
}